# Experiment 2 Text Generation

### Imports

In [14]:
import augly.text as textaugs
import pandas as pd
import random
import copy

### Import data

In [23]:
ivae = pd.read_csv('ivae/gen_sentsivae_results_ex2.txt', sep='~~', engine='python', header=None)
real_data = pd.read_csv('../../data/active_learning_data_to_test_imbalanced.csv')

### Postprocessing iVAE

In [24]:
ivae.head()

                                                   0
0  <s> # ikdoenietmeermee is een gevaarlijke uits...
1           <s> Het is ook heel erg veel IC ! ! </s>
2  <s> Het spiekbriefje van Famke Louise kwam hee...
3  <s> Ik doe niet meer mee . En dan ook de # avo...
4  <s> Ik heb een goede reden voor # ikdoenietmee...

In [25]:
ivae = pd.DataFrame(data = ivae.apply(lambda x: x[0][4:-5], axis=1), columns=['synthetic_text'])

In [26]:
ivae.head()

                                      synthetic_text
0  # ikdoenietmeermee is een gevaarlijke uitspraa...
1                    Het is ook heel erg veel IC ! !
2  Het spiekbriefje van Famke Louise kwam heel ev...
3  Ik doe niet meer mee . En dan ook de # avondkl...
4  Ik heb een goede reden voor # ikdoenietmeermee...

### Generate AugLy texts

In [9]:
covid = real_data[real_data['set'] == 'covid']

In [10]:
real_covid_texts_1400 = list(covid['clean_post'])

In [11]:
augly_synthetic_texts = []

random.seed(40)
for real_text in real_covid_texts_1400:
    for i in range(15):
        augly_synthetic_texts.append(textaugs.simulate_typos(real_text, aug_char_p=0.3, aug_word_p=0.2))

In [12]:
augly_data = pd.DataFrame(list(zip(augly_synthetic_texts)), columns=['synthetic_text'])

In [13]:
augly_data

                                          synthetic_text
0      Als de zejstig plisseer gevaccineerd zijn meer...
1      Als de zestig plisseer gevaccineerd zijn meer ...
2      Als de zestig lpisseer gevaccineerd zjin meer ...
3      Als ed zestig plisseer gevaccineerd zijn meer ...
4      Tals d9e zestig pliseer gevaccineerd ijn meer ...
...                                                  ...
20995  #ikdoenietmeermee istf-welke bomer heeft er pv...
20996  #ikdoenietmeermee istg-welke boomer heeft er v...
20997  #ikdoenietmeermee (istg-welke boomer heeft er ...
20998  #ikdoenietmeermee istg-welke booer heeft er vo...
20999  #idkoenietmeermee istg-welzke boomer heeft er ...

[21000 rows x 1 columns]

### Create identifiers

*Find and create identifiers for real texts*

In [15]:
real_data_identifiers = [i for i in range(len(real_data))]
real_data['identifier'] = real_data_identifiers
covid = real_data[real_data['set'] == 'covid']

In [16]:
covid

         set                                         clean_post  identifier
21     covid  Als de zestig plisseer gevaccineerd zijn meer ...          21
39     covid  @ gebruiker9227 zijn jullie al benaderd voor e...          39
59     covid  Tim Douwsma zegt dat er hongersnood ontstaat i...          59
136    covid  Beste mensen van # ikdoenietmeermee : ik doe n...         136
139    covid  Nee hoor . Sommige ziekenhuizen nemen al geen ...         139
...      ...                                                ...         ...
46656  covid  # ikdoenietmeermee is al 48h trending . . . Is...       46656
46676  covid  Ik ga er vanuit dat de mensen die meedoen aan ...       46676
46798  covid  Maar goed , dhr . Baudet was ook warm onderste...       46798
46809  covid  Scherp gezien ja . En daarom : # ikdoenietmeermee       46809
46895  covid  # ikdoenietmeermee istg - welke boomer heeft e...       46895

[1400 rows x 3 columns]

*Create identifiers for synthetic texts*

In [17]:
artificial_identifiers = copy.deepcopy(covid['identifier'])

In [18]:
nested = [[i]*15 for i in artificial_identifiers]
flat = [i for l in nested for i in l]
len(flat)

21000

In [27]:
ivae_data = pd.DataFrame(list(zip(flat, list(ivae['synthetic_text']))), columns=['identifier', 'synthetic_text'])

In [12]:
augly_data = pd.DataFrame(list(zip(flat, list(augly['synthetic_text']))), columns=['identifier', 'synthetic_text'])

### Save datafiles

In [43]:
real_data.to_csv('../../data/active_learning_data_to_test_imbalanced_with_identifiers.csv', index=False)

In [14]:
augly_data.to_csv('../../data/synthetic_data_augly.csv', index=False)

In [37]:
ivae_data.to_csv('../../data/synthetic_data_ivae.csv', index=False)