In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('gen_sentsivae_results_ex2.txt', sep='~~', engine='python', header=None)

In [7]:
data.head()

                                                   0
0  <s> # ikdoenietmeermee is een gevaarlijke uits...
1           <s> Het is ook heel erg veel IC ! ! </s>
2  <s> Het spiekbriefje van Famke Louise kwam hee...
3  <s> Ik doe niet meer mee . En dan ook de # avo...
4  <s> Ik heb een goede reden voor # ikdoenietmee...

In [8]:
data = pd.DataFrame(data = data.apply(lambda x: x[0][4:-5], axis=1))

In [9]:
data.head()

                                                   0
0  # ikdoenietmeermee is een gevaarlijke uitspraa...
1                    Het is ook heel erg veel IC ! !
2  Het spiekbriefje van Famke Louise kwam heel ev...
3  Ik doe niet meer mee . En dan ook de # avondkl...
4  Ik heb een goede reden voor # ikdoenietmeermee...

In [10]:
len(data)

21000

In [14]:
identifiers = []
count = 0
for i in range(1400):
    identifiers.extend([count for i in range(15)])
    count+=1

In [17]:
ivae_data = pd.DataFrame(list(zip(identifiers, list(data[0]))), columns=['identifier', 'synthetic_text'])

In [18]:
ivae_data.head()

   identifier                                     synthetic_text
0           0  # ikdoenietmeermee is een gevaarlijke uitspraa...
1           0                    Het is ook heel erg veel IC ! !
2           0  Het spiekbriefje van Famke Louise kwam heel ev...
3           0  Ik doe niet meer mee . En dan ook de # avondkl...
4           0  Ik heb een goede reden voor # ikdoenietmeermee...

In [21]:
ivae_data.to_csv('synthetic_data_ivae.csv', index=False)