In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('gen_sentsivae_results_ex2.txt', sep='~~', engine='python', header=None)
augly = pd.read_csv('synthetic_data_augly.csv')

In [3]:
data.head()

                                                   0
0  <s> # ikdoenietmeermee is een gevaarlijke uits...
1           <s> Het is ook heel erg veel IC ! ! </s>
2  <s> Het spiekbriefje van Famke Louise kwam hee...
3  <s> Ik doe niet meer mee . En dan ook de # avo...
4  <s> Ik heb een goede reden voor # ikdoenietmee...

In [4]:
augly.head()

   identifier                                     synthetic_text
0           0  Als de zejstig plisseer gevaccineerd zijn meer...
1           0  Als de zestig plisseer gevaccineerd zijn meer ...
2           0  Als de zestig lpisseer gevaccineerd zjin meer ...
3           0  Als ed zestig plisseer gevaccineerd zijn meer ...
4           0  Tals d9e zestig pliseer gevaccineerd ijn meer ...

In [7]:
data = pd.DataFrame(data = data.apply(lambda x: x[0][4:-5], axis=1))

In [8]:
data.head()

                                                   0
0  # ikdoenietmeermee is een gevaarlijke uitspraa...
1                    Het is ook heel erg veel IC ! !
2  Het spiekbriefje van Famke Louise kwam heel ev...
3  Ik doe niet meer mee . En dan ook de # avondkl...
4  Ik heb een goede reden voor # ikdoenietmeermee...

In [9]:
len(data)

21000

In [5]:
all_data = pd.read_csv('active_learning_data_to_test_imbalanced.csv')

In [6]:
len(all_data[all_data['set'] == 'covid'])

1400

In [7]:
all_data_identifiers = [i for i in range(len(all_data))]
all_data['identifier'] = all_data_identifiers
covid = all_data[all_data['set'] == 'covid']

In [43]:
all_data.to_csv('active_learning_data_to_test_imbalanced_new.csv', index=False)

In [8]:
covid

         set                                         clean_post  identifier
21     covid  Als de zestig plisseer gevaccineerd zijn meer ...          21
39     covid  @ gebruiker9227 zijn jullie al benaderd voor e...          39
59     covid  Tim Douwsma zegt dat er hongersnood ontstaat i...          59
136    covid  Beste mensen van # ikdoenietmeermee : ik doe n...         136
139    covid  Nee hoor . Sommige ziekenhuizen nemen al geen ...         139
...      ...                                                ...         ...
46656  covid  # ikdoenietmeermee is al 48h trending . . . Is...       46656
46676  covid  Ik ga er vanuit dat de mensen die meedoen aan ...       46676
46798  covid  Maar goed , dhr . Baudet was ook warm onderste...       46798
46809  covid  Scherp gezien ja . En daarom : # ikdoenietmeermee       46809
46895  covid  # ikdoenietmeermee istg - welke boomer heeft e...       46895

[1400 rows x 3 columns]

In [16]:
covid_idents = pd.read_csv('covid_identifiers.csv')
len(covid_idents)

1400

In [10]:
import copy
artificial_identifiers = copy.deepcopy(covid['identifier'])

In [11]:
nested = [[i]*15 for i in artificial_identifiers]
flat = [i for l in nested for i in l]
len(flat)

21000

In [14]:
# identifiers = []
# count = 0
# for i in range(1400):
#     identifiers.extend([count for i in range(15)])
#     count+=1

In [35]:
ivae_data = pd.DataFrame(list(zip(flat, list(data[0]))), columns=['identifier', 'synthetic_text'])

In [12]:
augly_data = pd.DataFrame(list(zip(flat, list(augly['synthetic_text']))), columns=['identifier', 'synthetic_text'])

In [14]:
augly_data.to_csv('synthetic_data_augly_new.csv', index=False)

In [44]:
len(ivae_data['synthetic_text']), len(set(ivae_data['synthetic_text']))

(21000, 15904)

In [37]:
ivae_data.to_csv('synthetic_data_ivae_new.csv', index=False)